# 빌드 아티팩트
bin/
obj/

# Visual Studio 관련 파일
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet 패키지
packages/
*.nupkg
*.snupkg

# Visual Studio 관련 폴더
.vscode/
*.vs/

# macOS
.DS_Store

# Windows
Thumbs.db

# 로그 및 임시 파일
*.log
*.tmp
*.swp
*.exe
*.baml
*.pdb
*.g.cs
*.g.i.cs
*.resources
*.pdb

# 환경 설정 파일
.env

# 캐시 파일
**/obj/*.cache
**/obj/*.AssemblyReference.cache
